@import url('https://fonts.google.com/share?selection.family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin 'tailwindcss-motion';
@plugin 'daisyui';

@theme {
    --font-chakra: "Chakra Petch", sans-serif;
}

/* :root {
    overscroll-behavior: none;
    overflow-y: hidden;
} */